table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;

    border: 1px solid #ccc;
}


.hide-me {
    display: none;
}


.login-button {
    border: none;
    background: none;
    padding: none;
}

.logged-user-navbar {
    margin-left: 30%;
    font-weight: bold;
    font-family: monospace;
}
