{% extends 'layout.html' %}


{% block content %}
<div class="quickViewContainer">
					<div id="quickViewCloseButton" class="close" style="margin-right:10px;"><span></span></div>
					<div class="quickViewTitle">MODAL 1</div>
					<div class="quickViewBody">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus dolor, vestibulum id fermentum molestie, tempor in ligula. Sed quis leo a erat vehicula hendrerit. Morbi ac elementum risus. Donec pretium euismod sapien quis sagittis. Phasellus sit amet
	volutpat sem.</div>
				</div>


				<div class="quickViewTrigger">MODAL TRIGGER 2</div>
				<!-- HIDDEN -->
				<div class="quickViewContainer">
				<div id="quickViewCloseButton" class="close" style="margin-right:10px;"><span></span></div>
				<div class="quickViewTitle">MODAL 2</div>
				<div class="quickViewBody">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus dolor, vestibulum id fermentum molestie, tempor in ligula. Sed quis leo a erat vehicula hendrerit. Morbi ac elementum risus. Donec pretium euismod sapien quis sagittis. Phasellus sit amet
					volutpat sem.</div>
				</div>
</div>
{% endblock %}